<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parse Proxy List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
 	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>

<body>
<main>
	<div id="v-app">
        <div class="container">
        	<h1> &nbsp;</h1>
        	<div class="row"> 
            	<div class="col-sm-3">
                <h4>    Country  </h4>              
                <select class="form-control"  v-model="country" >
         			<option v-for="item in countryMap" v-bind:value="item">{{item}}</option>
    			</select>
                
                <br/>
                <h4>    Proxy Types  </h4>
                <div v-for="ptype in proxyTypes">
                  <input type="checkbox" class="form-check-input" v-model="ptype.chk"> {{ ptype.title }}</br>
                </div>
                <br/>
                <br/>
                <h4>    Alive  </h4>
                <div>
                  <input type="checkbox" class="form-check-input" v-model="alive"> Alive
                </div> 
                
             </div>
                <div class="col-sm-8">      
           		  <table class="table table-striped">
                		<tr>
                            <th>#</th>
                            <th>Country</th>
                            <th>Host</th>
                            <th>Port</th>
                            <th>Type</th>
                            <th>Alive</th>
                		</tr>
                		<tr v-for="proxy in getProxyFilteredMap" :key="proxy.id" is="proxy" :proxy="proxy"></tr>
           		  </table>
                </div>    
             	
          </div>
        </div>
    </div>
</main>
<template id="template-proxy-raw">
    <tr>
        <td>{{proxy.id}}     	</td>
        <td>{{proxy.country}}   </td>
        <td>{{proxy.host}}      </td>
        <td>{{proxy.port}}      </td>
        <td>{{proxy.proxy_type}}</td>
        <td>{{proxy.alive}}     </td>
    </tr>
</template>
<script src='app.js' type="text/javascript"></script>

</body>
</html>
